table{
  font-size: 13px;
}

html{
  background-color: #F8F9FA;
}

table a, a.similar{
  text-decoration: none;
}

.leaflet-container {
  /* all maps */
  width: 100%;
  height: 500px;
}

/* Resize the "display_raw" textbox */
.django-leaflet-raw-textarea {
  width: 100%;
}

.py-5, .py-2-first {
  padding-top: 5em!important;
}

#btn_close{
  margin-left: 35px;
}
