{% extends "base.html" %}
{% load static i18n leaflet_tags %}
{% block extra_css %}
<link href="{% static 'css/jsoneditor/jsoneditor.css' %}" rel="stylesheet" type="text/css">
{% leaflet_js %}
{% leaflet_css %}
{% endblock extra_css %}


{% block extra_javascript %}
<script src="{% static 'js/jsoneditor/jsoneditor.min.js' %}" type="text/javascript" language="javascript"></script>
<script>

  // EDITOR PER JSON - RECEIVED/HEADER
  const options = {
    mode: 'code',
    modes: ['text', 'code', 'view'],
    onEditable: function (node) {
      if (!node.path) { return false; }
    }
  }
  {% if mail.received %}
  const received_cont = document.getElementById("js_received")
  const received_editor = new JSONEditor(received_cont, options)
  received_editor.set({{ mail.received | safe }})
  {% endif %}
  {% if mail.headers %}
  const header_cont = document.getElementById("js_header")
  const header_editor = new JSONEditor(header_cont, options)
  header_editor.set({{ mail.headers | safe }})
  {% endif %}

  // MAPPA
  {% if mail.geom %}
  function main_map_init(map, options) {
    L.geoJson({{ mail.geom | safe }}).addTo(map);
      }
  {% endif %}

  // ADD TAG
  $(document).on('click', '#add_tag', function () {
    bootbox.prompt("Add tag to mail!", function (result) {
      $.ajax({
        url: "{% url 'tag' %}",
        data: {
          tag: result,
          op: "ADD",
          mail: {{ mail.pk }},
      csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken").val()
            },
    method: 'post',
    dataType: 'json',
    success: function () {
      $("#taglist").append(`<span class="badge" style="background-color: #30357B;">${result}</span>`)
    },  
      });
    });
  });

  // CLOSE MAIL
  $(document).on('click', '#btn_close', function () {
    bootbox.confirm("Confirm setting mail progress to closed?", function (result) {
      $.ajax({
        url: "{% url 'progress' %}",
        data: {
          progress: 2,
          mail: {{ mail.pk }},
      csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken").val()
        },
    method: 'post',
    dataType: 'json',
    success: function () {
      $("#btn_close").parent().hide();
      $.toast({
        title: 'Operation succeeded!',
        content: 'Mail has been set as closed!',
        type: 'success',
        delay: 5000
      });
    },  
      });
    });
  });

  // SELECT RESPONSE
  $(document).on('change', '#change-response', function () {
    bootbox.confirm("Confirm?", function (result) {
      $.ajax({
        url: "{% url 'response' %}",
        data: {
          response: $('#change-response').val(),
          mail: {{ mail.pk }},
      csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken").val()
        },
    method: 'post',
    dataType: 'json',
    success: function () {
      $.toast({
        title: 'Operation succeeded!',
        content: 'Response has been set successfully.',
        type: 'success',
        delay: 5000
      });
    },  
      });
    });
  });

  // SELECT ASSIGNEE
  $(document).on('change', '#change-assignee', function () {
    bootbox.confirm("Confirm?", function (result) {
      $.ajax({
        url: "{% url 'assignee' %}",
        data: {
          assignee: $('#change-assignee').val(),
          mail: {{ mail.pk }},
      csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken").val()
        },
    method: 'post',
    dataType: 'json',
    success: function () {
      $.toast({
        title: 'Operation succeeded!',
        content: 'Assignee has been set successfully.',
        type: 'success',
        delay: 5000
      });
    },  
      });
    });
  });

  // ADD TO WL
  $(document).on('click', '.btn-wl', function () {

    var selected_btn = $(this);

    bootbox.confirm("Confirm?", function (result) {
      $.ajax({
        url: "{% url 'whitelist' %}",
        data: {
          item: selected_btn.data('pk'),
          item_type: selected_btn.data('type'),
          op: selected_btn.data('op'),
          csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken").val()
        },
        method: 'post',
        dataType: 'json',
        success: function () {
          $.toast({
            title: 'Operation succeeded!',
            content: 'Whitelist refreshed!',
            type: 'success',
            delay: 5000
          });

          // TODO: ADD OR REMOVE BADGE, CHANGE BUTTON
        },
      });
    });
  });

</script>
{% endblock extra_javascript %}

{% block container%}
<section class="py-5 container">
  <div class="row py-lg-5">
    <div class="col shadow p-3 mb-5 bg-white rounded">

      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="info-tab" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info"
            aria-selected="true">Mail Info</a>
        </li>
        {% if mail.dmark or mail.dkim != "False" or mail.arc or mail.spf %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="checks-tab" data-bs-toggle="tab" href="#checks" role="tab" aria-controls="checks"
            aria-selected="true">Checks</a>
        </li>
        {% endif %}
        {% if mail.headers %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="header-tab" data-bs-toggle="tab" href="#header" role="tab" aria-controls="header"
            aria-selected="false">Headers</a>
        </li>
        {% endif %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="body-tab" data-bs-toggle="tab" href="#body" role="tab" aria-controls="body"
            aria-selected="true">Body</a>
        </li>
        {% if mail.received %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="received-tab" data-bs-toggle="tab" href="#received" role="tab"
            aria-controls="received" aria-selected="false">Received</a>
        </li>
        {% endif %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="addresses-tab" data-bs-toggle="tab" href="#addresses" role="tab"
            aria-controls="addresses" aria-selected="false">Addresses</a>
        </li>
        {% if mail.geom %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="location-tab" data-bs-toggle="tab" href="#location" role="tab"
            aria-controls="location" aria-selected="false">Location</a>
        </li>
        {% endif %}
        {% if mail.ips.all or mail.urls.all %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="iocs-tab" data-bs-toggle="tab" href="#iocs" role="tab" aria-controls="iocs"
            aria-selected="false">Iocs</a>
        </li>
        {% endif %}
        {% if mail.attachments.all %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="attachments-tab" data-bs-toggle="tab" href="#attachments" role="tab"
            aria-controls="attachments" aria-selected="false">Attachments</a>
        </li>
        {% endif %}
        {% if user.is_authenticated and mail.progress != 2 %}
        <li class="nav-item" role="presentation">
          <a class="btn btn-outline-danger" id="btn_close">Close</a>
        </li>
        {% endif %}
      </ul>

      <div class="tab-content">

        <!--- INFO -->
        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
          <div style="padding: 20px;">
            <dl class="row">
              <dt class="col-sm-3">Subject <a href="{% url 'search' 'subject' mail.slug_subject %}"
                  class="similarbtn btn-sm btn-primary"><i class="fas fa-search"></i></a>:</dt>
              <dd class="col-sm-9">{{mail.subject}}</dd>
              <dt class="col-sm-3">Message-id:</dt>
              <dd class="col-sm-9">{{mail.message_id}}</dd>
              <dt class="col-sm-3">Date:</dt>
              <dd class="col-sm-9">{{mail.date}}</dd>
              <dt class="col-sm-3">Submission Date:</dt>
              <dd class="col-sm-9">{{mail.submission_date}}</dd>
              <dt class="col-sm-3">Assignee:</dt>
              <dd class="col-sm-9">
                {% if user.is_authenticated and mail.progress != 2 %}
                <select class="form-control" id="change-assignee">
                  <option {% if not mail.assignee %}selected='selected' {% endif %}>--</option>
                  {% for user in users %}
                  <option value="{{user.pk}}" {% if user == mail.assignee %}selected{% endif %}>{{user}}</option>
                  {% endfor %}
                </select>
                {% else %}
                {% if mail.assignee %}{{mail.assignee}}{% else %}-{% endif %}
                {% endif %}
              </dd>
              <dt class="col-sm-3">Response:</dt>
              <dd class="col-sm-9">
                {% if user.is_authenticated and mail.progress != 2 %}
                <select class="form-control" id="change-response">
                  {% for response_pk, response in responses %}
                  <option value="{{response_pk}}" {% if mail.official_response == response_pk %} selected {% endif %}>
                    {{response}}
                  </option>
                  {% endfor %}
                </select>
                {% else %}
                {{mail.get_official_response_display}}
                {% endif %}
              </dd>
              <hr />
              <dt class="col-sm-3">
                Tags:
                {% if user.is_authenticated and mail.progress != 2 %}
                <button class="btn btn-sm btn-outline-success" id="add_tag">+</button>
                {% endif %}
              </dt>
              <dd class="col-sm-9" id="taglist">
                {% if mail.tags.all %}
                {% for tag in mail.tags.all %}
                <span class="badge" style="background-color: {{tag.color}};">{{tag}}</span>
                {% endfor %}
                {% endif %}
              </dd>
            </dl>
          </div>
        </div>

        <!-- CHECKS -->
        {% if mail.dmark or mail.dkim != "False" or mail.arc.message or mail.spf %}
        <div class="tab-pane fade show" id="checks" role="tabpanel" aria-labelledby="checks-tab">
          <div style="padding: 20px">
            <dl class="row">
              {% if mail.dmark %}
              <dt class="col-sm-3">Dmark:</dt>
              <dd class="col-sm-9">{{mail.dmark}}</dd>
              {% endif %}

              {% if mail.dkim and mail.dkim != "False" %}
              <dt class="col-sm-3">Dkim Check:</dt>
              <dd class="col-sm-9">{{mail.dkim}}</dd>
              {% endif %}

              {% if mail.arc.message %}
              <dt class="col-sm-3">Arc Check:</dt>
              <dd class="col-sm-9">[{{mail.arc.success}}] {{ mail.arc.message}}</dd>
              {% endif %}

              {% if mail.spf %}
              <dt class="col-sm-3">SPF Check:</dt>
              <dd class="col-sm-9">{{mail.spf}}</dd>
              {% endif %}
            </dl>
          </div>
        </div>
        {% endif %}

        <!--- RECEIVED -->
        {% if mail.received %}
        <div class="tab-pane fade show" id="received" role="tabpanel" aria-labelledby="received-tab">
          <div style="padding: 20px;">
            <div id="js_received" style="width: 100%; height: 600px;"></div>
          </div>
        </div>
        {% endif %}

        <!--- HEADER -->
        {% if mail.headers %}
        <div class="tab-pane fade show" id="header" role="tabpanel" aria-labelledby="header-tab">
          <div style="padding: 20px;">
            <div id="js_header" style="width: 100%; height: 600px;"></div>
          </div>
        </div>
        {% endif %}

        <!--- BODY -->
        <div class="tab-pane fade show" id="body" role="tabpanel" aria-labelledby="body-tab">
          <div style="padding: 20px;">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% if mail.text_plain %}
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="text_plain" data-bs-toggle="tab" data-bs-target="#plain" type="button" role="tab" aria-controls="plain" aria-selected="true">
                  Plain Text
                </button>
              </li>
            {% endif %}
            {% if mail.text_html %}
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="text_html" data-bs-toggle="tab" data-bs-target="#html" type="button" role="tab" aria-controls="html" aria-selected="false">
                  Html Text
                </button>
              </li>
            {% endif %}
            {% if mail.text_not_managed %}
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="text_error" data-bs-toggle="tab" data-bs-target="#error" type="button" role="tab" aria-controls="error" aria-selected="false">
                  Text Not Managed
                </button>
              </li>
            {% endif %}
            </ul>
            <div class="tab-content" id="myTabContent">
              {% if mail.text_plain %}
              <div class="tab-pane fade show active" id="plain" role="tabpanel" aria-labelledby="plain-tab">
                {% for text in mail.text_plain %}
                <p class="col-sm-12">
                <pre><code>{{text}}</code></pre>
                </p>
                {% endfor %}
              </div>
              {% endif %}
              {% if mail.text_html %}
              <div class="tab-pane fade" id="html" role="tabpanel" aria-labelledby="html-tab">
                {% for text in mail.text_html %}
                <p class="col-sm-12">
                <pre><code>{{text}}</code></pre>
                </p>
                {% endfor %}
              </div>
              {% endif %}
              {% if mail.text_not_managed %}
              <div class="tab-pane fade" id="error" role="tabpanel" aria-labelledby="error-tab">
                {% for text in mail.text_not_managed %}
                <p class="col-sm-12">
                <pre><code>{{text}}</code></pre>
                </p>
                {% endfor %}
              </div>
              {% endif %}
            </div>
          </div>
        </div>

        <!-- ADDRESSES -->
        <div class="tab-pane fade show" id="addresses" role="tabpanel" aria-labelledby="addresses-tab">
          <div style="padding: 20px;">
            <dl class="row">
              <dt class="col-sm-3">
                {% if mail.sender %}
                From <a href="{% url 'search' 'mail' mail.sender.2 %}" class="similar btn btn-sm btn-primary"><i class="fas fa-search"></i></a>:
                {% else %}
                From:
                {% endif %}
              </dt>
              <dd class="col-sm-9">
                {% for address in mail.mail_addresses_set.all %}
                  {% if address.field == 'from' %}
                    {{address.address.address}}
                    <br />
                    [{{address.address.name|join:","}}]
                  {% endif %}
                {% endfor %}
              </dd>
              <dt class="col-sm-3">MX:</dt>
              <dd class="col-sm-9">
                {% for address in mail.mail_addresses_set.all %}
                  {% if address.field == 'from' %}
                    {{address.address.mx_check}}
                  {% endif %}
                {% endfor %}
              </dd>
              <hr />
              {% if mail.tos %}
                <dt class="col-sm-3">To:</dt>
                <dd class="col-sm-9">
                  {% for address in mail.mail_addresses_set.all %}
                    {% if address.field == 'to' %}
                      {{address.address.address}}
                      <br />
                      [{{address.address.name|join:","}}]
                      <br />
                    {% endif %}
                  {% endfor %}
                </dd>
                <hr />
              {% endif %}
              {% if mail.ccs or mail.bccs %}
                {% if mail.ccs %}
                  <dt class="col-sm-3">Cc:</dt>
                  <dd class="col-sm-9">
                    {% for address in mail.mail_addresses_set.all %}
                      {% if address.field == 'cc' %}
                        {{address.address.address}}
                        <br />
                        [{{address.address.name|join:","}}]
                        <br />
                      {% endif %}
                    {% endfor %}
                  </dd>
                {% endif %}
                {% if mail.bccs %}
                  <dt class="col-sm-3">Bcc:</dt>
                  <dd class="col-sm-9">
                    {% for address in mail.mail_addresses_set.all %}
                      {% if address.field == 'bcc' %}
                        {{address.address.address}}
                        <br />
                        [{{address.address.name|join:","}}]
                      {% endif %}
                    {% endfor%}
                  </dd>
                {% endif %}
                <hr />
              {% endif %}
              {% if mail.reply %}
                <dt class="col-sm-3">Reply to:</dt>
                <dd class="col-sm-9">
                  {% for address in mail.mail_addresses_set.all %}
                    {% if address.field == 'reply_to' %}
                      {{address.address.address}}
                      <br />
                      [{{address.address.name|join:","}}]
                    {% endif %}
                  {% endfor %}
                </dd>
                <hr />
              {% endif %}
              {% if mail.to_domains %}
                <dt class="col-sm-3">To-domains:</dt>
                <dd class="col-sm-9">{{mail.to_domains|join:"<br>"}}</dd>
                <hr />
              {% endif %}
              {% if mail.sender_ip_address%}
                <dt class="col-sm-3">Sender IP address:</dt>
                <dd class="col-sm-9">{{mail.sender_ip_address}}</dd>
                <hr />
              {% endif %}
            </dl>
          </div>
        </div>

        <!--- MAP -->
        {% if mail.geom %}
        <div class="tab-pane fade show" id="location" role="tabpanel" aria-labelledby="location-tab">
          <div style="padding: 20px;">
            <div>{% leaflet_map "main" callback="main_map_init" %}</div>
          </div>
        </div>
        {% endif %}

        <!--- IOCS -->
        {% if mail.ips.all or mail.urls.all %}
        <div class="tab-pane fade show" id="iocs" role="tabpanel" aria-labelledby="iocs-tab">
          <div style="padding: 20px;">
            {% if mail.ips.all %}
              <table class="table">
                <thead>
                  <tr>
                    <td>Ip</td>
                    <td>Whois</td>
                    <td>Report</td>
                    <td>Whitelist</td>
                  </tr>
                </thead>
                <tbody>
                  {% for ioc in mail.ips.all %}
                  <tr>
                    <td>
                      {% if ioc.is_whitelisted %}
                      <span class="badge bg-success">
                        {% endif %}
                        {{ioc.ip}}
                        {% if ioc.is_whitelisted %}
                      </span>
                      {% endif %}
                    </td>
                    <td>
                      {% if ioc.is_whitelisted %}
                      -
                      {% else %}
                        {% if ioc.whois.status and ioc.whois.domain_name %}
                          <dl class="row">
                            <dt class="col-sm-3">Name:</dt>
                            <dd class="col-sm-9">{{ioc.whois.domain_name}}</dd>
                            <dt class="col-sm-3">Name Servers:</dt>
                            <dd class="col-sm-9">{{ioc.whois.name_servers|join:"<br />"}}</dd>
                            <dt class="col-sm-3">Status:</dt>
                            <dd class="col-sm-9">{{ioc.whois.status|join:"<br />"}}</dd>
                            <dt class="col-sm-3">Registrar:</dt>
                            <dd class="col-sm-9">{{ioc.whois.registrar}}</dd>
                            <dt class="col-sm-3">Creation Date:</dt>
                            <dd class="col-sm-9">{{ioc.whois.created}}</dd>
                            <dt class="col-sm-3">Expiration Date:</dt>
                            <dd class="col-sm-9">{{ioc.whois.expires}}</dd>
                          </dl>
                        {% else %}
                          -
                        {% endif %}
                      {% endif %}
                    </td>
                    <td>
                      {% if ioc.is_whitelisted %}
                      -
                      {% else %}
                        {% if ioc.reports.all %}
                        <dl class="row">
                          {% for report in ioc.reports.all %}
                          <dt class="col-sm-3">{{report.analyzer.name}}</dt>
                          <dd class="col-sm-9">{{report.taxonomies|join:","}}</dd>
                          {% endfor %}
                        </dl>
                        {% else %}
                        -
                        {% endif %}
                      {% endif %}
                    </td>
                    <td>
                      {% if user.is_authenticated %}
                        {% if ioc.is_whitelisted %}
                        <button class="btn btn-sm btn-outline-danger btn-wl" data-pk="{{ioc.pk}}"
                          data-type="ip" data-op="REMOVE">-</button>
                        {% else %}
                        <button class="btn btn-sm btn-outline-success btn-wl" data-pk="{{ioc.pk}}"
                          data-type="ip" data-op="ADD">+</button>
                        {% endif %}
                      {% else %}
                        {{ioc.is_whitelisted}}
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
            {% if mail.urls.all %}
              <table class="table">
                <thead>
                  <tr>
                    <td>Url</td>
                    <td>Whois</td>
                    <td>Report</td>
                    <td>Whitelist Url</td>
                    <td>Domain</td>
                    <td>Whitelist Domain</td>
                  </tr>
                </thead>
                <tbody>
                  {% for ioc in mail.urls.all %}
                  <tr>
                    <td>
                      {% if ioc.is_whitelisted %}
                      <span class="badge bg-success">
                        {% endif %}
                        {% if ioc.url|length > 50 %}
                          <a title="{{ioc}}">{{ioc.url|truncatechars:50}}</a>
                        {% else %}
                          {{ioc}}
                        {% endif %}
                        {% if ioc.is_whitelisted %}
                      </span>
                      {% endif %}
                    </td>
                    <td>
                      {% if ioc.is_whitelisted %}
                        -
                      {% else %}
                        {% if ioc.domain.whois.domain_name and ioc.domain.whois.status %}
                          <dl class="row">
                            <dt class="col-sm-3">Name:</dt>
                            <dd class="col-sm-9">{{ioc.domain.whois.domain_name}}</dd>
                            <dt class="col-sm-3">Name Servers:</dt>
                            <dd class="col-sm-9">{{ioc.domain.whois.name_servers|join:"<br />"}}</dd>
                            <dt class="col-sm-3">Status:</dt>
                            <dd class="col-sm-9">{{ioc.domain.whois.status|join:"<br />"}}</dd>
                            <dt class="col-sm-3">Registrar:</dt>
                            <dd class="col-sm-9">{{ioc.domain.whois.registrar}}</dd>
                            <dt class="col-sm-3">Creation Date:</dt>
                            <dd class="col-sm-9">{{ioc.domain.whois.created}}</dd>
                            <dt class="col-sm-3">Expiration Date:</dt>
                            <dd class="col-sm-9">{{ioc.domain.whois.expires}}</dd>
                          </dl>
                        {% else %}
                        - 
                        {% endif %}
                      {% endif %}
                    </td>
                    <td>
                      {% if ioc.is_whitelisted %}
                        -
                      {% else %}
                        {% if ioc.reports.all %}
                          <dl class="row">
                            {% for report in ioc.reports.all %}
                              <dt class="col-sm-3">{{report.analyzer.name}}</dt>
                              <dd class="col-sm-9">{{report.taxonomies|join:","}}</dd>
                            {% endfor %}
                          </dl>
                        {% else %}
                          -
                        {% endif %}
                      {% endif %}
                    </td>
                    <td>
                      {% if user.is_authenticated %}
                        {% if ioc.is_whitelisted %}
                        <button class="btn btn-sm btn-outline-danger btn-wl" data-pk="{{ioc.pk}}"
                          data-type="url" data-op="REMOVE">-</button>
                        {% else %}
                        <button class="btn btn-sm btn-outline-success btn-wl" data-pk="{{ioc.pk}}"
                          data-type="url" data-op="ADD">+</button>
                        {% endif %}
                      {% else %}
                        {{ioc.is_whitelisted}}
                      {% endif %}
                    </td>
                    <td>
                      {{ioc.domain.domain}}
                    </td>
                    <td>
                      {% if user.is_authenticated %}
                        {% if ioc.domain.is_whitelisted %}
                        <button class="btn btn-sm btn-outline-danger btn-wl" data-pk="{{ioc.domain.pk}}"
                          data-type="domain" data-op="REMOVE">-</button>
                        {% else %}
                        <button class="btn btn-sm btn-outline-success btn-wl" data-pk="{{ioc.domain.pk}}"
                          data-type="domain" data-op="ADD">+</button>
                        {% endif %}
                      {% else %}
                        {{ioc.is_whitelisted}}
                      {% endif %}
                    </td>                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}            
          </div>
        </div>
        {% endif %}

        <!--- ATTACHMENTS -->
        {% if mail.attachments.all %}
        <div class="tab-pane fade show" id="attachments" role="tabpanel" aria-labelledby="attachments-tab">
          <div style="padding: 20px;">
            <table class="table">
              <thead>
                <tr>
                  <td>Info</td>
                  <td>Report</td>
                  <td>Whitelist</td>
                </tr>
              </thead>
              <tbody>
                {% for attachment in mail.attachments.all %}
                <tr>
                  <td>
                    <dl class="row">
                      <dt class="col-sm-3">Filenames</dt>
                      <dd class="col-sm-9">{{attachment.filename|join:"<br />"}}</dd>
                      <dt class="col-sm-3">md5</dt>
                      <dd class="col-sm-9">{{attachment.md5}}</dd>
                      <dt class="col-sm-3">sha256</dt>
                      <dd class="col-sm-9">{{attachment.sha256}}</dd>
                    </dl>
                  </td>
                  <td>
                    {% if attachment.reports.all %}
                    <dl class="row">
                      {% for report in attachment.reports.all %}
                      <dt class="col-sm-3">{{report.analyzer.name}}</dt>
                      <dd class="col-sm-9">{{report.taxonomies}}</dd>
                      {% endfor %}
                    </dl>
                    {% else %}
                    -
                    {% endif %}
                  </td>
                  <td>
                    {% if user.is_authenticated %}
                    {% if attachment.is_whitelisted %}
                    <button class="btn btn-sm btn-outline-danger btn-wl" data-pk="{{attachment.pk}}" data-type="sha256"
                      data-op="REMOVE">-</button>
                    {% else %}
                    <button class="btn btn-sm btn-outline-success btn-wl" data-pk="{{attachment.pk}}" data-type="sha256"
                      data-op="ADD">+</button>
                    {% endif %}
                    {% else %}
                    {{ioc.is_whitelisted}}
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock container %}

{% block extra_javascript %}
<script>
  $(function () {
    $('#mainTab a').on('click', function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
  })
</script>
{% endblock extra_javascript %}