{% extends "base.html" %}
{% load static i18n leaflet_tags %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/toast.min.css'%}" />
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.0.3/jsoneditor.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.0.3/jsoneditor.min.js"></script>
<script type=" text/javascript" src="{% static 'js/toast.min.js' %}"></script>
{% leaflet_js %}
{% leaflet_css %}
{% endblock extra_css %}

{% block container%}
<section class="py-5 container">
  <div class="row py-lg-5">
    <div class="col shadow p-3 mb-5 bg-white rounded">

      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info"
            aria-selected="true">Mail Info</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="checks-tab" data-toggle="tab" href="#checks" role="tab" aria-controls="checks"
            aria-selected="true">Checks</a>
        </li>
        {% if mail.header %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="header-tab" data-toggle="tab" href="#header" role="tab" aria-controls="header"
            aria-selected="false">Header</a>
        </li>
        {% endif %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="body-tab" data-toggle="tab" href="#body" role="tab" aria-controls="body"
            aria-selected="true">Body</a>
        </li>
        {% if mail.received %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="received-tab" data-toggle="tab" href="#received" role="tab" aria-controls="received"
            aria-selected="false">Received</a>
        </li>
        {% endif %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="addresses-tab" data-toggle="tab" href="#addresses" role="tab"
            aria-controls="addresses" aria-selected="false">Addresses</a>
        </li>
        {% if mail.geom %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="location-tab" data-toggle="tab" href="#location" role="tab" aria-controls="location"
            aria-selected="false">Location</a>
        </li>
        {% endif %}
        {% if mail.iocs.all %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="iocs-tab" data-toggle="tab" href="#iocs" role="tab" aria-controls="iocs"
            aria-selected="false">Iocs</a>
        </li>
        {% endif %}
        {% if mail.attachments.all %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="attachments-tab" data-toggle="tab" href="#attachments" role="tab"
            aria-controls="attachments" aria-selected="false">Attachments</a>
        </li>
        {% endif %}
        {% if user.is_authenticated and mail.progress != 2 %}
        <li class="nav-item" role="presentation">
          <a class="btn btn-outline-danger" id="btn_close">Close</a>
        </li>
        {% endif %}
      </ul>

      <div class="tab-content">

        <!--- INFO -->
        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
          <div style="padding: 20px;">
            <dl class="row">
              <dt class="col-sm-3">Subject <a href="{% url 'search' 'subject' mail.slug_subject %}"
                  class="similar">🔎</a>:</dt>
              <dd class="col-sm-9">{{mail.subject}}</dd>
              <dt class="col-sm-3">Message-id:</dt>
              <dd class="col-sm-9">{{mail.message_id}}</dd>
              <dt class="col-sm-3">Date:</dt>
              <dd class="col-sm-9">{{mail.date}}</dd>
              <dt class="col-sm-3">Submission Date:</dt>
              <dd class="col-sm-9">{{mail.submission_date}}</dd>
              <dt class="col-sm-3">Assignee:</dt>
              <dd class="col-sm-9">
                {% if user.is_authenticated and mail.progress != 2 %}
                <select class="form-control" id="change-assignee">
                  <option {% if not mail.assignee %}selected='selected' {% endif %}>--</option>
                  {% for user in users %}
                  <option value="{{user.pk}}" {% if user == mail.assignee %}selected{% endif %}>{{user}}</option>
                  {% endfor %}
                </select>
                {% else %}
                {% if mail.assignee %}{{mail.assignee}}{% else %}-{% endif %}
                {% endif %}
              </dd>
              <dt class="col-sm-3">Response:</dt>
              <dd class="col-sm-9">
                {% if user.is_authenticated and mail.progress != 2 %}
                <select class="form-control" id="change-response">
                  {% for response_pk, response in responses %}
                  <option value="{{response_pk}}" {% if mail.official_response == response_pk %}selected{% endif %}>
                    {{response}}
                  </option>
                  {% endfor %}
                </select>
                {% else %}
                {{mail.get_official_response_display}}
                {% endif %}
              </dd>
              <hr />
              <dt class="col-sm-3">
                Tags:
                {% if user.is_authenticated and mail.progress != 2 %}
                <button class="btn btn-sm btn-outline-success" id="add_tag">+</button>
                {% endif %}
              </dt>
              <dd class="col-sm-9" id="taglist">
                {% if mail.tags.all %}
                {% for tag in mail.tags.all %}
                <span class="badge" style="background-color: {{tag.color}};">{{tag}}</span>
                {% endfor %}
                {% endif %}
              </dd>
            </dl>
          </div>
        </div>

        <!-- CHECKS -->
        <div class="tab-pane fade show" id="checks" role="tabpanel" aria-labelledby="checks-tab">
          <div style="padding: 20px">
            <dl class="row">
              {% if mail.dmark %}
              <dt class="col-sm-3">Dmark:</dt>
              <dd class="col-sm-9 text-danger">{{mail.dmark}}</dd>
              {% else%}
              <dt class="col-sm-3">Dmark:</dt>
              <dd class="col-sm-9 text-success">🟢</dd>
              {% endif %}

              {% if mail.dkim %}
              <dt class="col-sm-3">Dkim Check:</dt>
              <dd class="col-sm-9 text-danger">{{mail.dkim}}</dd>
              {% else %}
              <dt class="col-sm-3">Dkim Check:</dt>
              <dd class="col-sm-9 text-success">🟢</dd>
              {% endif %}

              {% if mail.spf %}
              <dt class="col-sm-3">SPF Check:</dt>
              <dd class="col-sm-9 text-danger">{{mail.spf}}</dd>
              {% else %}
              <dt class="col-sm-3">SPF Check:</dt>
              <dd class="col-sm-9 text-success">🟢</dd>
              {% endif %}
            </dl>
          </div>
        </div>

        <!--- RECEIVED -->
        {% if mail.received %}
        <div class="tab-pane fade show" id="received" role="tabpanel" aria-labelledby="received-tab">
          <div style="padding: 20px;">
            <div id="js_received" style="width: 100%; height: 400px;"></div>
          </div>
        </div>
        {% endif %}

        <!--- HEADER -->
        {% if mail.header %}
        <div class="tab-pane fade show" id="header" role="tabpanel" aria-labelledby="header-tab">
          <div style="padding: 20px;">
            <div id="js_header" style="width: 100%; height: 400px;"></div>
          </div>
        </div>
        {% endif %}

        <!--- BODY -->
        <div class="tab-pane fade show" id="body" role="tabpanel" aria-labelledby="body-tab">
          <div style="padding: 20px;">
            {% if mail.text_plain %}
            <div class="row">
              <h4>Text Plain</h4>
              <hr>
              {% for text in mail.text_plain %}
              <p class="col-sm-12">
              <pre><code>{{text}}</code></pre>
              </p>
              {% endfor %}
            </div>
            {% endif %}
            {% if mail.text_html %}
            <div class="row">
              <h4>Text Html</h4>
              <hr />
              {% for text in mail.text_html %}
              <p class="col-sm-12">
              <pre><code>{{text}}</code></pre>
              </p>
              {% endfor %}
            </div>
            {% endif %}
            {% if mail.text_not_managed %}
            <div class="row">
              <h4>Text Not Managed</h4>
              <hr />
              {% for text in mail.text_not_managed %}
              <p class="col-sm-12">
              <pre><code>{{text}}</code></pre>
              </p>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>

        <!-- ADDRESSES -->
        <div class="tab-pane fade show" id="addresses" role="tabpanel" aria-labelledby="addresses-tab">
          <div style="padding: 20px;">
            <dl class="row">
              <dt class="col-sm-3">From <a href="{% url 'search' 'mail' mail.sender.address %}" class="similar">🔎</a>:
              </dt>
              <dd class="col-sm-9">
                {% for address in mail.mail_addresses_set.all %}
                {% if address.field == 'from' %}
                {{address.address.address}}
                <br />
                [{{address.address.name|join:","}}]
                {% endif %}
                {% endfor%}
              </dd>
              <dt class="col-sm-3">MX:</dt>
              <dd class="col-sm-9">
                {% for address in mail.mail_addresses_set.all %}
                {% if address.field == 'from' %}
                {{address.address.mx_check}}
                {% endif %}
                {% endfor%}
              </dd>
              <hr />
              <dt class="col-sm-3">To:</dt>
              <dd class="col-sm-9">
                {% for address in mail.mail_addresses_set.all %}
                {% if address.field == 'to' %}
                {{address.address.address}}
                <br />
                [{{address.address.name|join:","}}]
                <br />
                {% endif %}
                {% endfor%}
              </dd>
              <hr />
              <dt class="col-sm-3">Cc:</dt>
              <dd class="col-sm-9">
                {% for address in mail.mail_addresses_set.all %}
                {% if address.field == 'cc' %}
                {{address.address.address}}
                <br />
                [{{address.address.name|join:","}}]
                <br />
                {% endif %}
                {% endfor%}
              </dd>
              <dt class="col-sm-3">Bcc:</dt>
              <dd class="col-sm-9">
                {% for address in mail.mail_addresses_set.all %}
                {% if address.field == 'bcc' %}
                {{address.address.address}}
                <br />
                [{{address.address.name|join:","}}]
                {% endif %}
                {% endfor%}
              </dd>
              <hr />
              <dt class="col-sm-3">Reply to:</dt>
              <dd class="col-sm-9">
                {% for address in mail.mail_addresses_set.all %}
                {% if address.field == 'reply_to' %}
                {{address.address.address}}
                <br />
                [{{address.address.name|join:","}}]
                {% endif %}
                {% endfor%}
              </dd>
              {% if mail.to_domains%}
              <hr />
              <dt class="col-sm-3">To-domains:</dt>
              <dd class="col-sm-9">{{mail.to_domains|join:"<br>"}}</dd>
              {% endif %}
              {% if mail.sender_ip_address%}
              <hr />
              <dt class="col-sm-3">Sender IP address:</dt>
              <dd class="col-sm-9">{{mail.sender_ip_address}}</dd>
              {% endif %}
            </dl>
          </div>
        </div>

        <!--- MAP -->
        {% if mail.geom %}
        <div class="tab-pane fade show" id="location" role="tabpanel" aria-labelledby="location-tab">
          <div style="padding: 20px;">
            <div>{% leaflet_map "main" callback="main_map_init" %}</div>
          </div>
        </div>
        {% endif %}

        <!--- IOCS -->
        {% if mail.iocs.all %}
        <div class="tab-pane fade show" id="iocs" role="tabpanel" aria-labelledby="iocs-tab">
          <div style="padding: 20px;">
            <table class="table">
              <thead>
                <tr>
                  <td>Ioc</td>
                  <td>Whois</td>
                  <td>Report</td>
                  <td>Whitelist</td>
                </tr>
              </thead>
              <tbody>
                {% for ioc in mail.iocs.all %}
                <tr>
                  <td>
                    {% if ioc.is_whitelisted %}
                    <span class="badge bg-success">
                      {% endif %}
                      {{ioc}}
                      {% if ioc.is_whitelisted %}
                    </span>
                    {% endif %}
                  </td>
                  <td>
                    {% if ioc.is_whitelisted %}
                    -
                    {% else %}
                    {% if ioc.whois.name and ioc.whois.status %}
                    <dl class="row">
                      <dt class="col-sm-3">Name:</dt>
                      <dd class="col-sm-9">{{ioc.whois.name}}</dd>
                      <dt class="col-sm-3">Name Servers:</dt>
                      <dd class="col-sm-9">{{ioc.whois.name_servers|join:"<br/>"}}</dd>
                      <dt class="col-sm-3">Status:</dt>
                      <dd class="col-sm-9">{{ioc.whois.status}}</dd>
                      <dt class="col-sm-3">Registrar:</dt>
                      <dd class="col-sm-9">{{ioc.whois.registrar}}</dd>
                      <dt class="col-sm-3">Creation Date:</dt>
                      <dd class="col-sm-9">{{ioc.whois.creation_date}}</dd>
                      <dt class="col-sm-3">Expiration Date:</dt>
                      <dd class="col-sm-9">{{ioc.whois.expiration_date}}</dd>
                    </dl>
                    {% elif ioc.whois.asn %}
                    <dl class="row">
                      <dt class="col-sm-3">Asn:</dt>
                      <dd class="col-sm-9">{{ioc.whois.asn}}</dd>
                      <dt class="col-sm-3">Asn description:</dt>
                      <dd class="col-sm-9">{{ioc.whois.asn_description}}</dd>
                      <dt class="col-sm-3">Asn Country Code:</dt>
                      <dd class="col-sm-9">{{ioc.whois.asn_country_code}}</dd>
                      <dt class="col-sm-3">Asn Cidr:</dt>
                      <dd class="col-sm-9">{{ioc.whois.asn_cidr}}</dd>
                      <dt class="col-sm-3">Asn Date:</dt>
                      <dd class="col-sm-9">{{ioc.whois.asn_date}}</dd>
                    </dl>
                    {% else %}
                    -
                    {% endif %}
                    {% endif %}
                  </td>
                  <td>
                    {% if ioc.is_whitelisted %}
                    -
                    {% else %}
                    {% if ioc.reports.all %}
                    <dl class="row">
                      {% for report in ioc.reports.all %}
                      <dt class="col-sm-3">{{report.analyzer.name}}</dt>
                      <dd class="col-sm-9">{{report.taxonomies|join:","}}</dd>
                      {% endfor %}
                    </dl>
                    {% else %}
                    -
                    {% endif %}
                    {% endif %}
                  </td>
                  <td>
                    {% if user.is_authenticated %}
                    {% if ioc.is_whitelisted %}
                    <button class="btn btn-sm btn-outline-danger btn-wl" data-pk="{{ioc.pk}}"
                      data-type="{% if ioc.ip %}ip{% else %}domain{% endif %}" data-op="REMOVE">-</button>
                    {% else %}
                    <button class="btn btn-sm btn-outline-success btn-wl" data-pk="{{ioc.pk}}"
                      data-type="{% if ioc.ip %}ip{% else %}domain{% endif %}" data-op="ADD">+</button>
                    {% endif %}
                    {% else %}
                    {{ioc.is_whitelisted}}
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endif %}

        <!--- ATTACHMENTS -->
        {% if mail.attachments.all %}
        <div class="tab-pane fade show" id="attachments" role="tabpanel" aria-labelledby="attachments-tab">
          <div style="padding: 20px;">
            <table class="table">
              <thead>
                <tr>
                  <td>Info</td>
                  <td>Report</td>
                  <td>Whitelist</td>
                </tr>
              </thead>
              <tbody>
                {% for attachment in mail.attachments.all %}
                <tr>
                  <td>
                    <dl class="row">
                      <dt class="col-sm-3">Filenames</dt>
                      <dd class="col-sm-9">{{attachment.filename|join:"<br/>"}}</dd>
                      <dt class="col-sm-3">md5</dt>
                      <dd class="col-sm-9">{{attachment.md5}}</dd>
                      <dt class="col-sm-3">sha256</dt>
                      <dd class="col-sm-9">{{attachment.sha256}}</dd>
                    </dl>
                  </td>
                  <td>
                    {% if attachment.reports.all %}
                    <dl class="row">
                      {% for report in attachment.reports.all %}
                      <dt class="col-sm-3">{{report.analyzer.name}}</dt>
                      <dd class="col-sm-9">{{report.taxonomies}}</dd>
                      {% endfor %}
                    </dl>
                    {% else %}
                    -
                    {% endif %}
                  </td>
                  <td>
                    {% if user.is_authenticated %}
                    {% if attachment.is_whitelisted %}
                    <button class="btn btn-sm btn-outline-danger btn-wl" data-pk="{{attachment.pk}}" data-type="sha256"
                      data-op="REMOVE">-</button>
                    {% else %}
                    <button class="btn btn-sm btn-outline-success btn-wl" data-pk="{{attachment.pk}}" data-type="sha256"
                      data-op="ADD">+</button>
                    {% endif %}
                    {% else %}
                    {{ioc.is_whitelisted}}
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <script>

    // EDITOR PER JSON - RECEIVED/HEADER
    const options = {
      mode: 'code',
      modes: ['text', 'code', 'view'],
      onEditable: function (node) {
        if (!node.path) { return false; }
      }
    }
    {% if mail.received %}
    const received_cont = document.getElementById("js_received")
    const received_editor = new JSONEditor(received_cont, options)
    received_editor.set({{ mail.received | safe }})
    {% endif %}
    {% if mail.header %}
    const header_cont = document.getElementById("js_header")
    const header_editor = new JSONEditor(header_cont, options)
    header_editor.set({{ mail.header | safe }})
    {% endif %}

    // MAPPA
    {% if mail.geom %}
    function main_map_init(map, options) {
      L.geoJson({{ mail.geom | safe }}).addTo(map);
        }
    {% endif %}

    // ADD TAG
    $(document).on('click', '#add_tag', function () {
      bootbox.prompt("Add tag to mail!", function (result) {
        $.ajax({
          url: "{% url 'tag' %}",
          data: {
            tag: result,
            op: "ADD",
            mail: {{ mail.pk }},
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken").val()
              },
      method: 'post',
      dataType: 'json',
      success: function () {
        $("#taglist").append(`<span class="badge" style="background-color: #30357B;">${result}</span>`)
      },  
        });
      });
    });

    // CLOSE MAIL
    $(document).on('click', '#btn_close', function () {
      bootbox.confirm("Confirm setting mail progress to closed?", function (result) {
        $.ajax({
          url: "{% url 'progress' %}",
          data: {
            progress: 2,
            mail: {{ mail.pk }},
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken").val()
          },
      method: 'post',
      dataType: 'json',
      success: function () {
        $("#btn_close").parent().hide();
        $.toast({
          title: 'Operation succeeded!',
          content: 'Mail has been set as closed!',
          type: 'success',
          delay: 5000
        });
      },  
        });
      });
    });

    // SELECT RESPONSE
    $(document).on('change', '#change-response', function () {
      bootbox.confirm("Confirm?", function (result) {
        $.ajax({
          url: "{% url 'response' %}",
          data: {
            response: $('#change-response').val(),
            mail: {{ mail.pk }},
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken").val()
          },
      method: 'post',
      dataType: 'json',
      success: function () {
        $.toast({
          title: 'Operation succeeded!',
          content: 'Response has been set successfully.',
          type: 'success',
          delay: 5000
        });
      },  
        });
      });
    });

    // SELECT ASSIGNEE
    $(document).on('change', '#change-assignee', function () {
      bootbox.confirm("Confirm?", function (result) {
        $.ajax({
          url: "{% url 'assignee' %}",
          data: {
            assignee: $('#change-assignee').val(),
            mail: {{ mail.pk }},
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken").val()
          },
      method: 'post',
      dataType: 'json',
      success: function () {
        $.toast({
          title: 'Operation succeeded!',
          content: 'Assignee has been set successfully.',
          type: 'success',
          delay: 5000
        });
      },  
        });
      });
    });

    // ADD TO WL
    $(document).on('click', '.btn-wl', function () {

      var selected_btn = $(this);

      bootbox.confirm("Confirm?", function (result) {
        $.ajax({
          url: "{% url 'whitelist' %}",
          data: {
            item: selected_btn.data('pk'),
            item_type: selected_btn.data('type'),
            op: selected_btn.data('op'),
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken").val()
          },
          method: 'post',
          dataType: 'json',
          success: function () {
            $.toast({
              title: 'Operation succeeded!',
              content: 'Whitelist refreshed!',
              type: 'success',
              delay: 5000
            });

            // TODO: ADD OR REMOVE BADGE, CHANGE BUTTON
          },
        });
      });
    });

  </script>

</section>
{% endblock container %}