{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static i18n leaflet_tags %}

{% block extra_css %}
<script src="{% static 'js/highcharts/highcharts.src.js' %}"></script>
{% leaflet_js %}
{% leaflet_css %}
{% endblock extra_css %}

{% block container %}
<section class="py-2 text-center container">
  <div class="row py-lg-5">
    <h1 class="font-weight-light">
      <img src="{% static 'images/meth.gif' %}" />
    </h1>
  </div>

  <div class="row py-2">
    <div class="col">
      <div class="card h-100 bg-primary text-white">
        <div class="card-header">Email Analyzed</div>
        <div class="card-body bg-light text-dark">
          <p><span style="font-size: 60px;">{{email_count}}</span></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm h-100 bg-warning text-white">
        <div class="card-header">Suspicious</div>
        <div class="card-body bg-light text-dark">
          <p><span style="font-size: 60px;">{{suspicious}}</span></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm h-100 bg-danger text-white">
        <div class="card-header">Malicious</div>
        <div class="card-body bg-light text-dark">
          <p><span style="font-size: 60px;">{{malicious}}</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row py-2">
    <script>
      function main_map_init(map, options) {
        var dataurl = '{% url "data" %}';
        $.getJSON(dataurl, function (data) {
          L.geoJson(data).addTo(map);
        });
      }
    </script>
    {% leaflet_map "worldmap" callback="main_map_init" %}
  </div>

  <div class="row py-2 card shadow-sm h-100">
    <div class="card-body" id="chart_container">
      <div id="hc_container"></div>
      <script>
        Highcharts.chart('hc_container', {
          chart: { type: 'column' },
          plotOptions: {
            series: {
              stacking: 'normal'
            }
          },
          title: { text: "Mail type by hour [10days]" },
          yAxis: { title: { text: 'Number of emails' } },
          legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
          },
          xAxis: {
            type: 'datetime',
            ordinal: false,
            labels: {
              format: '{value:%m/%d [h: %H]}',
            },
          },
          series: [
            {
              name: 'Unknown',
              data: [{% for item in groups %}[new Date({{ item.thour |date:"U" }}*1000).getTime(), {{ item.unknown }}]{% if not forloop.last %}, {% endif %} {% endfor %}],
            }, {
              name: 'Spam',
              data: [{% for item in groups %}[new Date({{ item.thour |date:"U" }}*1000).getTime(), {{ item.spam }}]{% if not forloop.last %}, {% endif %} {% endfor %}],
            }, {
              name: 'Ham',
              data: [{% for item in groups %}[new Date({{ item.thour |date:"U" }}*1000).getTime(), {{ item.ham }}]{% if not forloop.last %}, {% endif %} {% endfor %}],
            }, {
              name: 'Phishing',
              data: [{% for item in groups %}[new Date({{ item.thour |date:"U" }}*1000).getTime(), {{ item.phishing }}]{% if not forloop.last %}, {% endif %} {% endfor %}],
            }, {
              name: 'Social Engineering',
              data: [{% for item in groups %}[new Date({{ item.thour |date:"U" }}*1000).getTime(), {{ item.social_engineering }}]{% if not forloop.last %}, {% endif %} {% endfor %}],
            }, {
              name: 'Reconnaissance',
              data: [{% for item in groups %}[new Date({{ item.thour |date:"U" }}*1000).getTime(), {{ item.reconnaissance }}]{% if not forloop.last %}, {% endif %} {% endfor %}],
            }, {
              name: 'Blackmail',
              data: [{% for item in groups %}[new Date({{ item.thour |date:"U" }}*1000).getTime(), {{ item.blackmail }}]{% if not forloop.last %}, {% endif %} {% endfor %}],
            }, {
              name: 'Ceo Scam',
              data: [{% for item in groups %}[new Date({{ item.thour |date:"U" }}*1000).getTime(), {{ item.ceo_scam }}]{% if not forloop.last %}, {% endif %} {% endfor %}],
            }, {
              name: 'Licit',
              data: [{% for item in groups %}[new Date({{ item.thour |date:"U" }}*1000).getTime(), {{ item.safe }}]{% if not forloop.last %}, {% endif %} {% endfor %}],
            }
          ]
        });
      </script>
    </div>
  </div>

  <div class="row py-2 card shadow-sm h-100">
    <div class="card-body">
      <h5 class="card-title">Latest email</h5>
      {% render_table table %}
    </div>
  </div>

</section>

{% endblock container %}
{% block extra_javascript %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock extra_javascript %}