{% load render_table from django_tables2 %} {% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="dadokkio" />
    <title>{% block title %}Meth{% endblock title %}</title>

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'css/project.css' %}" rel="stylesheet" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Meth</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto mb-2 mb-md-0">
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="/admin">Admin</a>
              </li>
            </ul>
            <!--
            <form class="d-flex">
              <input
                class="form-control mr-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
            -->
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="font-weight-light">
              <img src="{% static 'images/meth.gif' %}" />
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <h5 class="card-title">Email Analyzed</h5>
                <p><span style="font-size: 80px;">{{email_count}}</span></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <h5 class="card-title">Suspicious</h5>
                <p><span style="font-size: 80px;">{{suspicious}}</span></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <h5 class="card-title">Malicious</h5>
                <p><span style="font-size: 80px;">{{malicious}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col-md-12">
              <div class="card shadow-sm h-100">
                <div class="card-body">
                  <h5 class="card-title">Latest email</h5>
                  {% render_table table_l %}
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm h-100">
                <div class="card-body">
                  <h5 class="card-title">Common Subjects</h5>
                  {% render_table table_m %}
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm h-100">
                <div class="card-body">
                  <h5 class="card-title">Common Ioc</h5>
                  {% render_table table_i %}
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="card shadow-sm h-100">
                <div class="card-body">
                  <h5 class="card-title">Common hashes</h5>
                  {% render_table table_a %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/project.js' %}"></script>
  </body>
</html>
