{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{% block title %}METH{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="Davide Arcuri" />

  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon.ico' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/dashboard.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome/all.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables/dataTables.bootstrap5.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/toast/toast.min.css'%}" />
  {% block extra_css %} {% endblock extra_css %}
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Meth</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Campaigns
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'campaigns' campaign_type='subject' %}">By subject</a></li>
                <li><a class="dropdown-item" href="{% url 'campaigns' campaign_type='sender' %}">By sender</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'stats' %}">Stats</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-expanded="false">
                🧑‍💻 {{user.username}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/admin">Admin</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">{% trans "Sign Out" %}</a></li>
              </ul>
            </li>
            {% else %}
            <a id="log-in-link" class="nav-link" href="{% url 'login' %}">{% trans "Sign In" %}</a>
            {% endif %}
          </ul>

          <form class="d-flex" action="{% url 'search' %}" method="POST">
            {% csrf_token %}
            <input class="form-control mr-2" type="search" id="query" name="query" placeholder="Search"
              aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <main class="bg-light">
    {% block container %} {% endblock container %}
  </main>

  {% block javascript %}
  <script defer src="{% static 'js/fontawesome/all.min.js' %}" type="text/javascript" language="javascript"></script>
  <script src="{% static 'js/jquery-3.5.1.js' %}" type="text/javascript" language="javascript"></script>
  <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}" type="text/javascript"
    language="javascript"></script>
  <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}" type="text/javascript"
    language="javascript"></script>
  <script src="{% static 'js/datatables/dataTables.bootstrap5.min.js' %}" type="text/javascript"
    language="javascript"></script>
  <script src="{% static 'js/bootbox/bootbox.min.js' %}" type="text/javascript" language="javascript"></script>
  <script src="{% static 'js/toast/toast.js' %}" type="text/javascript" language="javascript"></script>
  {% endblock javascript %}
</body>

</html>